/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

:root{
    --bg-w-button: #ffffff;
    --bg-b-button: #23272a;
    --bg-lb-button: #7289da;
    --bg-section: #dedede;
    --bg-black: black;
    --hover: purple;
}
.debug{
    border: 1px solid black;
}

/* header */
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: var(--bg-w-button);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container2{
    max-width: 900px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

.even{
    background-color: var(--bg-section);
}

.d-flex{
    display: flex;
}

header > .d-flex{
 justify-content: space-between;
}

header nav ul.d-flex li{
    padding: 0px 30px 0px 30px;
}

nav{
    padding: 30px 0;
}

.g-button{
    padding: 10px 18px;
    border-radius: 20px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: var(--hover);
}

.white-button{
    color: var(--bg-black);
    background-color: var(--bg-w-button);
}

.black-button{
    color: var(--bg-w-button);
    background-color: var(--bg-b-button);
}

h1{
    font-size: 50px ;
}

.text-center{
    text-align: center;
}

header div p{
    font-size: 1.3rem;
}

.text-padding{
    padding: 90px 0 70px 0;
}

.button-flex{
    justify-content: center;
}

.p-button{
    padding-top: 30px;
}

.m-button{
    margin-right: 20px;
}

/* main */
.left{
    width: 60%;
}

.right{
    width: 40%;
}

.margin-top{
    margin-top: 80px;
}

h2{
    font-size: 50px;
    padding: 30px 0;
    line-height: 1;
}

.font-size{
    font-size: 1.3rem;
}

.container-big{
    width: 100%;
}

.m-section-top{
    margin-top: 250px;
}

h3{
    font-size: 30px;
    padding-bottom: 30px;
}

.lightblue-button{
    color: var(--bg-w-button);
    background-color: var(--bg-lb-button);
}

.d-in-bl{
    display: inline-block;
}

.p-bottom{
    padding-bottom: 90px;
}














/* footer */
footer{
    background-color: var(--bg-b-button);
    color: var(--bg-w-button);
}
